<app-menu></app-menu>
<div class="text-center" *ngIf="isLogged; else loggedOut">
    <h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
    <div class="container d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" routerLink="/registro">Crear Cuenta</a>
                    </li>
                    
                  </ul>
            </div>
            <div class="card-body">
              <form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
             
                <div class="form-group">
                    <label for="nombreUsuario">Razon social</label>
                    <input type="text" name="razon_social" id="razon_social" class="form-control"
                    [(ngModel)]="razon_social" required>
                </div>
                <div class="form-group">
                  <label for="nombre">nombre comercial</label>
                  <input type="text" name="nombre" id="nombre_comercial" class="form-control"
                  [(ngModel)]="nombre_comercial" required>
              </div>
                <div class="form-group">
                    <label for="password">nro_documento</label>
                    <input type="password" name="password" id="password" class="form-control"
                    [(ngModel)]="password" required>
                </div>
                <div class="form-group">
                  <label for="email">Direccion</label>
                  <input type="text" name="direccion" id="direccion" class="form-control"
                  [(ngModel)]="direccion" required>
              </div>
              <div class="form-group">
                <label for="email">telefono</label>
                <input type="text" name="telefono" id="telefono" class="form-control"
                [(ngModel)]="telefono" required>
            </div>
                <div class="form-group">
                    <button class="btn btn-outline-success btn-block" [disabled]="!f.valid">
                        <i class="fas fa-sign-in-alt"></i> Crear Cuenta</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</ng-template>